# Dependencies
node_modules/

# Python Virtual Environments & Caches
venv/
.venv/
__pycache__/

# Build & Export Outputs
!build/
dist/
out/
.next/

# Environment Files
.env
.env*.local
src/.env

# System & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log